<!--包含头部文件-->
{include file="public/header" /}
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 优惠券管理 </nav>
<div class="page-container">

	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<div class="text-c">
			<form action="{:url('coupons/query')}" method="post">
				<input type="text" name="coupons_id" id="" placeholder=" 优惠券ID" style="width:250px" class="input-text" {if condition="!empty($name)"}value="{$name}"{/if}>
				<button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜索
				</button>
			</form>
		</div>
	</div>

	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort">
			<thead>
				<tr class="text-c">
					<th width="80">ID</th>
					<th width="100">优惠券号</th>
					<th width="60">使用密码</th>
					<th width="60">消费人数</th>
					<th width="60">状态</th>
					<!--0:生成未发送给用户-->
					<!--1:已经发送给用户 2：用户已经使用 3 禁用-->
					<th width="100">操作</th>
				</tr>
			</thead>
			<tbody>
				{if condition="!empty($coupon)"}
						<tr class="text-c">
							<td>{$coupon.id}</td>
							<td>{$coupon.sn}</td>
							<td>{$coupon.password}</td>
							<td>{$coupon.deal_count}</td>
							<td class="td-status">{$coupon.status|couponsStatus}</td>
							<td class="td-manage">
								<a style="text-decoration:none" class="ml-5"  href="javascript:;" title="发送">
									<i class="Hui-iconfont">&#xe63b;</i></a>

								<a style="text-decoration:none" class="ml-5" onClick="o2o_edit('使用','{:url('coupons/status',['id'=>$coupon.id,'status' => 2])}')" href="javascript:;" title="使用">
									<i class="Hui-iconfont">&#xe670;</i></a>
							</td>
						</tr>
				{/if}
			</tbody>
		</table>
	</div>

</div>
<!--包含头部文件-->
{include file="public/footer" /}
