{include file="public/head,public/nav"}
<style>
    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
        padding: 0;
        margin: 0;
        border: 0;
        outline: 0;
        font-weight: inherit;
        font-style: inherit;
        font-family: inherit;
        font-size: 100%;
        vertical-align: baseline;
    }
    ol, ul {
        list-style: none;
    }
    element.style {
        display: list-item;
    }

    .p-detail .item-info-detail {
        margin-bottom: 20px;
    }
    .w-user-comment {
    }
    .w-user-comment .detail {
        height: 105px;
        padding: 10px 0;
        font-size: 14px;
        border-bottom: 1px solid #F0F0F0;
    }

    .w-user-comment .detail .score {
        height: 105px;
        float: left;
        border-right: 1px solid #F0F0F0;
        width: 220px;
        padding-right: 10px;
    }

    .w-user-comment .detail .comment-level {
        float: left;
        height: 105px;
        width: 285px;
        border-right: 1px solid #F0F0F0;
    }

    .w-user-comment .detail .comment-level .level-detail {
        padding: 23px 0 10px 25px;
    }

    .w-user-comment .detail .comment-level .level-detail .each-level {
        margin-bottom: 13px;
        line-height: 0;
    }

    .w-user-comment .detail .comment-level .level-detail .each-level .levels {
        line-height: 13px;
        color: #585858;
    }

    .w-user-comment .detail .comment-level .level-detail .each-level .bg-line {
        width: 109px;
        height: 9px;
        margin: 0 9px;
        background: #FFE8F0;
        display: inline-block;
    }

    .w-user-comment .all-comment-area {
        margin-top: 20px;
    }

    .w-comment-content {
        font-family: SimSun;
    }



    .w-comment-content .header {
        height: 35px;
        line-height: 35px;
        margin-bottom: -5px;
        padding-right: 10px;
        border-top: 1px solid #f2f5f5;
        border-bottom: 1px solid #f2f5f5;
        font-size: 14px;
        background-color: #f9f9f9;
        position: relative;
    }

    .w-comment-content .p-comment-list {
        padding: 25px 0;
        border-bottom: 1px solid #f0f0f0;
        color: #666;
    }

    .w-comment-content .p-comment-list .author-info {
        float: left;
        margin-right: 30px;
        text-align: center;
    }

    .w-comment-content .p-comment-list .author-info .photo {
        width: 60px;
        height: 60px;
    }

    .w-comment-content .p-comment-list .author-info .photo img {
        width: 60px;
        height: 60px;
        vertical-align: bottom;
    }


    .w-comment-content .p-comment-list .comment-info {
        width: 633px;
    }

    .w-comment-content .p-comment-list .comment-info .author {
        margin-bottom: 7px;
        color: #949494;
    }

    .w-user-comment .fl {
        float: left;
    }

    .w-comment-content .p-comment-list .comment-info .author .time {
        font-family: Arial;
    }

    .fr {
        float: right;
    }

    .ugc-star-wrap {
        background-position: -893px -2375px;
    }
    common_38c5655.css:40
    .ugc-star-wrap {
        width: 70px;
        height: 15px;
        margin: 0 auto;
        background-repeat: no-repeat;
    }

    .ugc-star-wrap .ugc-star-grade {
        background-position: -893px -2393px;
    }
    common_38c5655.css:40
    .ugc-star-wrap .ugc-star-grade {
        height: 15px;
        background-repeat: no-repeat;
    }

    .w-comment-content .p-comment-list .author-info .author {
        color: #949494;
        line-height: 25px;
    }

    .w-user-comment .detail .status .ldesc {
        margin: 20px 0 10px;
    }
    .w-user-comment .detail .score .number {
        float: left;
        margin-left: 25px;
        margin-top: 10px;
        font-size: 48px;
        line-height: 1.3;
        color: #ff4883;
        font-family: Arial,Helvetica!important;
    }

    .w-user-comment .detail .score .total-comment {
        padding-top: 75px;
        width: 220px;
        text-align: center;
    }
    detail_old_7576f09.css:21
    .w-user-comment .detail .score .total-comment, .w-user-comment .detail .score .desc {
        font-size: 14px;
        color: #6D6D6D;
        text-indent: 30px;
    }

    .w-user-comment .detail .status .button {
        display: inline-block;
        margin-top: 10px;
        width: 108px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        background-color: #ff4883;
        color: #fff;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
    }



    :hov

    .cls

    element.style {
        width: 620px;
        height: auto;
        left: 201px;
        top: 1174.5px;
        position: absolute;
        z-index: 211;
    }

    .ui-dialog {
        border: 1px solid #ff658e;
        background: #fff;
        _overflow: hidden;
    }

    .ui-dialog-header {
        background: #ff658e;
        overflow: hidden;
        color: #fff;
        font-family: "\5FAE\8F6F\96C5\9ED1",Simhei;
    }

    .ui-dialog-body {
        color: #333;
    }

    .p-comment-dialog {
        padding: 25px 70px 35px;
        font-size: 14px;
        color: #666;
    }

    .p-comment-dialog .star-level {
        margin-bottom: 20px;
    }

    .p-comment-dialog .label-container {
        position: relative;
        width: 100%;
        padding-right: 20px;
        margin-top: 10px;
    }

    .p-comment-dialog .word-content {
        width: 440px;
        margin-top: 5px;
        padding: 10px;
        border: 1px solid #f0f0f0;
    }

    .p-comment-dialog .pic-area {
        width: 440px;
        padding: 10px;
        border: 1px solid #f0f0f0;
        border-top: 0;
        background-color: #fafafa;
    }

    .p-comment-dialog .pic-error {
        padding-left: 10px;
        padding-top: 10px;
        color: #f69;
        font-size: 12px;
    }

    .p-comment-dialog .button {
        width: 108px;
        height: 36px;
        margin-top: 20px;
        line-height: 36px;
        text-align: center;
        cursor: pointer;
        background-color: #f69;
        color: #fff;
        font-family: "\5FAE\8F6F\96C5\9ED1",Simhei;
        font-size: 16px;
    }

    .p-comment-dialog .comment-item {
        margin-bottom: 10px;
    }

    .p-comment-dialog .comment-item .comment-title {
        width: 62px;
        text-align: right;
        float: left;
        margin-right: 15px;
    }

    .p-comment-dialog .comment-item #j-overral-comment {
        margin-bottom: 5px;
    }
    .p-comment-dialog .comment-item .star-grade {
        float: left;
    }

    .p-comment-dialog .comment-item .must {
        color: #f69;
    }

    .p-comment-dialog .word-content .text-area {
        width: 100%;
        height: 62px;
        border: 0;
        resize: none;
        outline: 0;
        color: #999;
    }
    textarea {
        overflow: auto;
        vertical-align: top;
    }
    button, input, select, textarea {
        font-size: 100%;
        margin: 0;
        vertical-align: baseline;
    }

    .p-comment-dialog .word-content .word-count-tip {
        text-align: right;
        font-size: 12px;
        color: #999;
    }

    .p-comment-dialog .word-content .word-count-tip .number {
        color: #f69;
    }
</style>
<div class="p-detail">
    <div class="p-bread-crumb">
        <div class="w-bread-crumb">
            <ul class="crumb-list">
                <li class="crumb"><a>团购</a><span class="ico-gt">&gt;</span></li>
                <li class="crumb"><a>{$category.name}</a><span class="ico-gt">&gt;</span></li>
                <li class="crumb crumb-last"><a>{$locations[0]->name}</a></li>
            </ul>
        </div>
    </div>
    <div class="static-hook-real static-hook-id-5"></div>
    <div class="p-item-info">
        <div class="w-item-info">
            <h2>{$locations[0]->name}</h2>
            <div class="item-title">
                <span class="text-main">{$deal->name}</span>
            </div>
            <div class="ii-images static-hook-real static-hook-id-6">
                <div class="w-item-images">
                    <div class="images-board">
                        <div class="item-status ">
                            <span class="ico-status ico-jingxuan"></span>
                        </div>
                        <img src="{$deal.image}" class="item-img-large"/>
                    </div>
                    <ul class="images-list clearfix">
                        <li class="images images-last">
                            <img src="{$deal.image}"/>
                        </li>
                    </ul>
                    <div class="erweima-share-collect">
                        <ul class="item-option clearfix">
                            <li class=" ">

                                <div class="collect-success">

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="ii-intro">
                <div class="w-item-intro">
                    <div class="price-area-wrap static-hook-real static-hook-id-8">
                        <div class="price-area has-promotion-icon">
                            <div class="pic-price-area">
                                <span class="unit">¥</span>
                                <span class="priceNum">{$deal.current_price}</span>
                            </div>

                            <div class="market-price-area">
                                <div class="price">{$deal.origin_price}</div>
                                <div class="name">价值</div>
                            </div>


                        </div>
                    </div>
                    {if condition="$flag eq 1"}
                    <div class="static-hook-real static-hook-id-9">
                        <a class="link jingxuan-box" alt="更多精选品牌特惠">
                            <div class="box">
                                <div class="jx-update" id="j-jxUpdateTime">
                                    <span>距离开始时间还有</span>
                                    <span class="jx-timerbox">{$timedata}</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    {/if}
                    <ul class="ugc-strategy-area static-hook-real static-hook-id-10">
                        <li class="item-bought">
                            <div class="sl-wrap">
                                <div class="sl-wrap-cnt">
                                    <div class="item-bought-num"><span class="intro-strong">{$deal.buy_count}</span>人已团购
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="buy-panel-wrap">
                        <div class="buy-panel">
                            <div class="validdate-buycount-area static-hook-real static-hook-id-11">
                                <div class="item-countdown-row">
                                    <span class="name">有效期</span>
                                    <span class="value">{$deal->coupons_end_time|date="Y-m-d",###}</span>
                                </div>
                                <div class="item-buycount-row j-item-buycount-row">
                                    <div class="name">数&nbsp;&nbsp;&nbsp;量</div>
                                    <div class="buycount-ctrl">
                                        <a href="javascript:;" class="j-ctrl ctrl minus disabled"><span
                                                class="horizontal"></span></a>
                                        <input type="text" value="1" maxlength="10" autocomplete="off">
                                        <a href="javascript:;" class="ctrl j-ctrl plus "><span
                                                class="horizontal"></span><span class="vertical"></span></a>
                                    </div>
                                    <div class="text-wrap">
                                        <span class="left-budget">优惠价剩余{$deal.total_count - $deal.buy_count}份</span>
                                        <span class="err-wrap j-err-wrap"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="item-buy-area">
                                <div style="float:left" class="static-hook-real static-hook-id-12">
                                    {if condition="$flag eq 1"}
                                    <a href="javascript:void(0)" class="btn-buy btn-buy-qrnew j-btn-buy btn-hit"
                                       style="background: #c0c0c0;border-bottom: #c0c0c0;">立即抢购</a>
                                    {else /}
                                    <a class="o2o_click btn-buy btn-buy-qrnew j-btn-buy btn-hit">立即抢购</a>
                                    {/if}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-item-info-more">
        <div class="iim-wrapper">
            <div class="spec-nav ">
                <div class="nav-bar"></div>
                <div class="w-spec-nav" style="position: static; top: auto; z-index: auto;">
                    <ul class="sn-list">
                        <li class="spec-nav-current">
                            <i></i><a><span>本单详情</span></a>
                        </li>
                        <li class="">
                            <i></i><a><span>消费提示</span></a>
                        </li>
                        <li class="">
                            <i></i><a><span>商家介绍</span></a>
                        </li>
                        <li class="">
                            <i></i><a><span>会员评论</span></a>
                        </li>
                    </ul>

                </div>
            </div>
            <ul class="j-info-all">
                <li class="tab">
                    <div class="ia-shop-branch">
                        <div class="w-shop-branch">
                            <h3 class="w-section-header">分店信息</h3>
                            <div class="branch-content">
                                <div class="shop-map">
                                    <div class="w-map">
                                        <img src="{:url('map/getmapimage',['data' => $mapstr])}">
                                    </div>
                                </div>
                                <div class="branch-detail">
                                    <div>
                                        <!--<div class="w-area-filter">-->
                                        <!--<label>筛选：</label>-->
                                        <!--<select name="city" class="af-content"><option value="100010000" selected="">北京市</option></select>-->
                                        <!--<select name="district" class="af-content">-->
                                        <!--<option selected="">全部城区</option>-->
                                        <!--<option value="307">朝阳区</option>-->
                                        <!--<option value="392">海淀区</option>-->
                                        <!--<option value="395">丰台区</option>-->
                                        <!--<option value="408">通州区</option>-->
                                        <!--<option value="6547">平谷区</option>-->
                                        <!--</select>-->
                                        <!--</div>-->
                                        <div class="branch-list-content">
                                            <div class="w-branch-list">
                                                <ul class="branch-list-content">
                                                    {volist name = "locations" id="vo"}
                                                    <li class="branch branch-open">
                                                        <a href="//www.nuomi.com/shop/133957" target="_blank"
                                                           class="branch-name">{$vo.name}</a>
                                                        <p class="branch-address">{$vo.address}</p>
                                                        <p class="branch-tel">{$vo.tel}</p>
                                                        <p class="map-travel">
                                                            <a href="javascript:;" class="map">
                                                                <span class="icon"></span>
                                                                <span class="text">查询地图</span>
                                                            </a>
                                                            <a href="javascript:;" class="travel">
                                                                <span class="icon"></span>
                                                                <span class="text">公交/驾车去这里</span>
                                                            </a>
                                                        </p>
                                                    </li>
                                                    {/volist}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ifram">本单详情（此处高度随着填充的内容自动变化）</div>
                </li>
                <li class="tab">
                    <div class="ifram">消费提示 {$deal.notes|html_entity_decode}</div>
                </li>
                <li class="tab">
                    <div class="ifram">商家介绍 {$bis_description|html_entity_decode}</div>
                </li>
                <div class="user-comment">

                    <div class="w-user-comment static-hook-real static-hook-id-19" id="j-user-comment">
                        <div class="detail clearfix">

                            <div class="score clearfix">
                                <span class="desc"></span>
                                <div class="number">{:round($comment_class['score'],1)}</div> <!--四舍五入-->
                                <div class="list clearfix">
                                    <div class="star ugc-star-wrap-19 ">
                                        <div class="star ugc-star-grade" style="width:81.7px;">
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="comment-level" style="">
                                <div class="level-detail">
                                    <div class="each-level">
                                        <span class="levels qa-hook-good-text">好评</span>
                                        <span class="bg-line">
<em class="line" style="width:100%"></em>
</span>
                                        <span class="levels qa-hook-good-num">{$comment_class['good_comment']}条</span>
                                    </div>
                                    <div class="each-level">
                                        <span class="levels qa-hook-normal-text">中评</span>
                                        <span class="bg-line">
<em class="line" style="width:10.576923076923%"></em>
</span>
                                        <span class="levels qa-hook-normal-num">{$comment_class['middle_comment']}条</span>
                                    </div>
                                    <div class="each-level">
                                        <span class="levels qa-hook-bad-text">差评</span>
                                        <span class="bg-line">
<em class="line" style="width:13.461538461538%"></em>
</span>
                                        <span class="levels qa-hook-bad-num">{$comment_class['bad_comment']}条</span>
                                    </div>
                                </div>
                            </div>

                            <div class="status" mon="area=comment">
                                <div class="ldesc">我在百度糯米买过此单</div>
                                <a mon="element=btn&amp;element_type=nav" class="button" href="javascript:;" id="j-add-comment">
                                    我要评价</a>
                            </div>
                        </div>
                    </div>

                    <div class="all-comment-area">
                        <div class="w-comment-content" id="nextComment">


                            <div class="header clearfix">
                                <div mon="area=comment&amp;element_type=filter">

                                </div>
                                <div class="virtual ns-track" id="j-sort" mon="area=comment&amp;element=default_filter&amp;element_type=function">

                                    <i class="bottom-triangle-grey"></i>
                                </div>
                                <div class="filter" id="j-comment-filter" alog-alias="bainuo-detail-comment-content-filter" alog-group="bainuo-detail-comment-content-filter" mon="area=filterComment&amp;element_type=filter">
                                    <div class="filter-pic-content" alog-alias="bainuo-detail-comment-content-filter-pic" alog-group="bainuo-detail-comment-content-filter-pic">

                                    </div>
                                    <div class="sort-default-time" alog-alias="bainuo-detail-comment-content-filter-time" alog-group="bainuo-detail-comment-content-filter-time" id="j-select-box" style="display: none;">
                                        <ul>
                                            <li>
                                                <a mon="element=默认" class="default default-clicked" id="j-default-sort" href="javascript:;">默认</a>
                                            </li>
                                            <li>
                                                <a mon="element=按时间" class="time" id="j-time-sort" href="javascript:;">按时间</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="comment-area" id="j-comment-list">
                                {volist name="comments" id="vo"}
                                <div class="p-comment-list clearfix">
                                    <div class="author-info">
                                        <div class="photo"></div>
                                        <img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portrait/item/00003138372a2a2a2a2a3238330000.jpg" alt="用户头像">

                                        <span class="author">{$vo.username,0|countLocation}</span>
                                    </div>
                                </div>
                                <div class="comment-info">
                                    <div class="author clearfix">
                                        <div class="fl"><span class="time">{$vo.create_time|date="Y-m-d H:i",###}说：</span></div>
                                        <div class="fr"></div>
                                    </div>
                                    <p class="content">{$vo.comment}</p>
                                </div>
                            </div>
                            {/volist}
                            <div class="star ugc-star-grade" style="width:14px;">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="paging">
                    <div id="j-pager-comment" alog-alias="bainuo-detail-pager-comment" alog-group="bainuo-detail-pager-comment"><div class="ui-pager"><span class="ui-pager-current">1</span><a href="#nextComment" data-pagenum="2" class="ui-pager-normal " mon="element=2">2</a><a href="#nextComment" data-pagenum="3" class="ui-pager-normal " mon="element=3">3</a><a href="#nextComment" data-pagenum="4" class="ui-pager-normal " mon="element=4">4</a><a href="#nextComment" data-pagenum="5" class="ui-pager-normal " mon="element=5">5</a><a href="#nextComment" data-pagenum="2" class="ui-pager-next " mon="element=next">下一页</a></div></div>
                </div>

            </ul>
        </div>

        </li>

        </ul>
    </div>
</div>
</div>

<div class="footer-content">
    <div class="copyright-info">
        <div class="site-info">

        </div>
        <div class="icons">

        </div>
        <div style="width:200px;margin:0 auto; padding:20px 0;">

        </div>
    </div>
</div>

<div class="ui-dialog" id="nimei__dialog" style="width: 620px; height: auto; right:600px; top: 1000.5px; position: absolute; z-index: 211;">
    <div class="ui-dialog-header clearfix" id="nimei__dialogHeader" style="width:620px;max-height: 100px;">
        <div class="ui-dialog-title">发表评论</div>
        <a href="javascript:;" class="dialog-btn-close j-dialog-btn" data-event="cancel" style="float:right;
        color:white;font-size:2em;top:-20px;position: relative;">×</a>
    </div>
    <div class="ui-dialog-body" id="nimei__dialogBody">
        <form class="p-comment-dialog" action="{:url('comment/addcomment')}" method="post">
            <input type="hidden" name="deal_id" value="{$deal->id}">
            <div class="star-level" id="j-star-level">
                <div class="comment-item clearfix">
                    <div class="comment-title">好评<input type="radio" name="comment_class" value="0" checked></div>
                    <div class="comment-title">中评<input type="radio" name="comment_class" value="1"></div>
                    <div class="comment-title">差评<input type="radio" name="comment_class" value="2"></div>
                </div>
            </div>
            <!--</div>-->
            <div class="label-container" id="j-comment-label">
                <div class="label-list"></div></div>
            <div class="word-content">
                <textarea class="text-area" name="content" id="j-text-area" placeholder="亲，好吃吗？环境怎么样？服务还满意吗？"></textarea>
                <div class="word-count-tip" id="j-word-tip">您最多还可输入<span class="number" id="j-word-number">500</span>字</div>
                <div class="word-count-limit" id="j-word-limit">您最多可输入<span>500字</span></div></div>
            <div class="pic-error" id="j-error-info"></div><button type="submit" class="button" id="j-submit-comment">发表评论</button>
        </form>
    </div>
</div><div class="ui-dialog-footer" id="nimei__dialogFooter"></div></div>

<script>
    //校验正整数
    function isNaN(number) {
        var reg = /^[1-9]\d*$/;
        return reg.test(number);
    }

    function inputChange(num) {
        if (!isNaN(num)) {
            $(".buycount-ctrl input").val("1");
        }
        else {
            $(".buycount-ctrl input").val(num);
            if (num == 1) {
                $(".buycount-ctrl a").eq(0).addClass("disabled");
            }
            else {
                $(".buycount-ctrl a").eq(0).removeClass("disabled");
            }
        }
    }

    $(".buycount-ctrl input").keyup(function () {
        var num = $(".buycount-ctrl input").val();
        inputChange(num);
    });
    $(".minus").click(function () {
        var num = $(".buycount-ctrl input").val();
        num--;
        inputChange(num);
    });
    $(".plus").click(function () {
        var num = $(".buycount-ctrl input").val();
        num++;
        inputChange(num);
    });


    $(".sn-list li").click(function () {
        var index = $(".sn-list li").index(this)
        $(".sn-list li").removeClass("spec-nav-current");
        $(".j-info-all .tab").css({display: "none"});
        $(this).addClass("spec-nav-current");
        $(".j-info-all .tab").eq(index).css({display: "block"});
    });

    $(".branch").mouseenter(function () {
        $(".branch").removeClass("branch-open").addClass("branch-close");
        $(this).removeClass("branch-close").addClass("branch-open");
    });

    $('.o2o_click').click(function () {
        var count = $('.buycount-ctrl input').val();
        var url = "{:url('order/confirm',['id'=>$deal.id])}"+"&count="+count;
        window.open(url);
    });

    $('.dialog-btn-close').click(function () {
        $('#nimei__dialog').hide();
    })

    var SCOPE = {
        "comment_power" : "{:url('api/comment/checkCommentPower')}",
        "isLogin_url" : "{:url('api/base/isLogin')}",
    }

    $('#j-add-comment').click(function () {

        var url = SCOPE.comment_power;
        var postData = {
            "user_id" : "{$user->id?$user->id:''}",
            "deal_id" : "{$deal->id}",
        };
        $.post(url,postData,function (result) {
            console.log(result);

            switch (result.status)
            {
                case 0:
                    alert('数据校验错误');break;
                case 1:
                    $('#nimei__dialog').show();break;
                case 2:
                    alert("请先登录");
                    window.location = "{:url('user/login')}";
                    break;
                case 3:
                    alert("请购买后再评论");
                    break;
            }
        },'json');
    })
    $(function () {
        $('#nimei__dialog').hide();
    })
</script>

<script type="text/javascript">

</script>
</body>
</html>