<style>

    .sear{
        width:424px;
        height: 38px;
        margin:0 auto;
    }
    .sear .sea{
        width:424px;
        height: 32px;
        border:1px solid #ccc;
        padding:5px;
    }
    .sear .sea input{
        border:0;
        height:30px;
        float:left;
        display:inline;
    }
    .sear .sea input:first-child{
        width:366px;
    }
    .sear .sea input:last-child{
        width:30px;
        padding:2px;
        background:#fff;
        cursor: pointer;
    }
</style>
<div class="search">
    <img src="__STATIC__/index/image/logo.png" />
    <form action="{:url('lists/find')}"  class="sear">
        <div class="sea">
            <input type="text" name="name" placeholder="请输入搜索内容">
            <input type="submit" value="搜索">
        </div>
    </form>
</div>

<div class="nav-bar-header">
    <div class="nav-inner">
        <ul class="nav-list">
            <li class="nav-item">
                <span class="item">全部分类</span>
                <div class="left-menu">
                    {volist name="cats" id="cat"}
                        <div class="level-item">
                        <div class="first-level">
                            <dl>
                                <dt class="title"><a href="{:url('lists/index',['id' => $key])}" target="_top">{$cat[0]}</a></dt>

                                {volist name="cat[1]" id="vo" length="2"}
                                    <dd><a href="{:url('lists/index',['id' => $vo.id])}" target="_top" class="">{$vo['name']}</a></dd>
                                {/volist}
                            </dl>
                        </div>
                        <div class="second-level">
                            <div class="section">
                                <div class="section-item clearfix no-top-border">
                                    <h3>热门分类</h3>
                                    <ul>
                                        {volist name="cat[1]" id="vo"}
                                            <li><a href="{:url('lists/index',['id' => $vo.id])}">{$vo.name}</a></li>
                                        {/volist}
                                    </ul>
                                </div>


                            </div>
                        </div>
                    </div>
                    {/volist}
                </div>
            </li>
            <li class="nav-item"><a href="{:url('index/index')}" class="item first active">首页</a></li>
            <li class="nav-item"><a class="item">团购</a></li>
            <li class="nav-item"><a class="item">商户</a></li>
        </ul>
    </div>
</div>